/* PLATFORM */

.platform {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 2.1fr 0.4fr 1fr;
  grid-template-rows: 0.2fr 1.6fr 1.2fr;
  grid-auto-flow: row;
  font-size: 30px;

  background: url("../assets/Room_Perspective_2.svg") no-repeat center 50%/100%;

  font-family: cursive;
}

.board:hover {
  cursor: url("../assets/Chalk.svg"), auto;
}

.notebook:hover {
  cursor: url("../assets/Pencil.svg"), auto;
}
/*.platform > * {
  border: 1px white dashed
}*/

.board {
  background: url("../assets/Blackboard.svg") no-repeat center 45%/90%;
}

.notebook {background: url("../assets/Notebook.svg") no-repeat 0 36%/100%}

.info {background: url("../assets/Kid.svg") no-repeat center -250%/200%}

.note_tools {background-color: transparent}

.board_tools {background-color: transparent}

.door {background: url("../assets/Door_Perspective.svg") no-repeat center 64%/300%}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1rem;
  justify-content: center;
}

.board { grid-area: 2 / 2 / 3 / 3; }
.notebook { grid-area: 3 / 2 / 4 / 3; }
.note_tools { grid-area: 3 / 3 / 4 / 4; }
.door { grid-area: 2 / 1 / 4 / 2; }
.breadcrumbs { grid-area: 1 / 1 / 2 / 5; }
.info { grid-area: 2 / 4 / 4 / 5; }
.board_tools { grid-area: 2 / 3 / 3 / 4; }

.clear_button {
  position: absolute;
  font-size: 1rem;
  right: 35%;
  background-color: deepskyblue;
}

.info {
  display: flex;
  position: relative;
  overflow: hidden;
}

.name_board {
  position: absolute;
  width: 100%;
  bottom: -8rem;
}

.kid_name {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-25%);
}

/* HOME */
.home {
  width: 100vw;
  height: 100vh;
  background: url("../assets/School.svg") no-repeat 0 45%;
  background-size: cover;
  display: grid;
  grid-template-columns: 0.7fr 1.3fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "category_signs school_empty file_options";
}

.category_signs, .school_empty, .file_options {
  border: 1px dotted white;
}

.category_signs { grid-area: category_signs; }

.school_empty { grid-area: school_empty; }

.file_options { grid-area: file_options; }



/* BAG */
.bag {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.bag ul {
  list-style: none;
}

.note_paper {
  width: 40rem;
  padding: 10%;
  margin-top: 2rem;
  color: black;
  background: url("../src/assets/Notebook.svg") no-repeat 0 36%/98%;
}

.note_problem_info, .note_problem_images{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.pametko_message {
  color: #1a1a1a;
  padding: 20% 15%;
  background: url("../src/assets/Chat_Cloud.svg") no-repeat 0 -20%/100%;
}

/* ALL */
img {
  filter: drop-shadow(0.6rem 0.6rem 0.6rem rgba(0,0,0,0.5));
}