/* PLATFORM */

.platform {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 2.1fr 0.4fr 1fr;
  grid-template-rows: 0.2fr 1.6fr 1.2fr;
  grid-auto-flow: row;
  background-color: greenyellow;
  font-size: 30px;
}

.board {background-color: green}

.notebook {background-color: white}

.info {background-color: gray}

.note_tools {background-color: wheat}

.board_tools {background-color: yellow}

.door {background-color: cadetblue}

.breadcrumbs {background-color: gold}

.board { grid-area: 2 / 2 / 3 / 3; }
.notebook { grid-area: 3 / 2 / 4 / 3; }
.note_tools { grid-area: 3 / 3 / 4 / 4; }
.door { grid-area: 2 / 1 / 3 / 2; }
.breadcrumbs { grid-area: 1 / 1 / 2 / 5; }
.info { grid-area: 2 / 4 / 4 / 5; }
.board_tools { grid-area: 2 / 3 / 3 / 4; }

/* HOME */
.home {
  width: 100vw;
  height: 100vh;
  /*background: url("../assets/school_image_background_demo.avif") no-repeat center;*/
  background: url("../assets/school_image_background_demo.avif") no-repeat 0 80%;
  background-size: cover;
  display: grid;
  grid-template-columns: 0.7fr 1.3fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "category_signs school_empty file_options";
}

.category_signs, .school_empty, .file_options {
  border: 1px dotted white;
}

.category_signs { grid-area: category_signs; }

.school_empty { grid-area: school_empty; }

.file_options { grid-area: file_options; }

/*.category_signs { background-color: saddlebrown}*/

/*.school_empty { background-color: darkred}*/

/*.file_options { background-color: sandybrown}*/


/* BAG */
.bag {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}