/* BOARD */
.board_section {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
    "equation_value solution_canvas";

    align-items: center;
}

.equation_value { grid-area: equation_value; display: flex; justify-content: center; align-items: center;}

.solution_canvas {
    height: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border-bottom: 2px dotted white;*/
}

#answer_canvas {padding-top: 10%;}

.reset_button {
    position: absolute;
    font-size: 1rem;
    right: 35%;
    background-color: limegreen;
}
.answer_button {
    position: absolute;
    font-size: 1rem;
    bottom: 50%;
    right: 35%;
    background-color: limegreen;

}

/* TOOLS */
.board_tools_section {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "board_chalk"
    "board_sponge";
}

.board_sponge { grid-area: board_sponge;}

.board_chalk { grid-area: board_chalk;}

.notes_tools_section {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "notes_pencil"
    "notes_eraser";
}

.notes_pencil { grid-area: notes_pencil;}

.notes_eraser { grid-area: notes_eraser;}

/* CATEGORIES */
.categories {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: left;
    margin: auto;
    font-weight: bold;
    font-size: 2rem;
}

.categories ul {
    list-style-type: none;
}

.categories li {
    padding: 5% 0;
}

.categories li button{
    background: url("../assets/Sign_Green.svg") no-repeat center;
    background-size: cover;
}

/* FILES */

.right_section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.file_buttons {
    display: flex;
    justify-content: end;
}

.kid_placeholder {
    width: 100%;
    margin-top: auto;
}

.kid_placeholder img {
    object-fit: contain;
    width: 100%;
}

/* Стилови за модалниот прозорец */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-actions button {
  padding: 8px 16px;
  cursor: pointer;
}